<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.globaleducation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".CreateAccountActivity"
            android:label="Create Child Account">
        </activity>
        
        <activity
            android:name=".DailyQuestionsActivity"
            android:label="Daily Questions">
        </activity>
        
        <activity 
            android:name=".QuestionActivity"
            android:label="Question">
            
        </activity>
        
        <activity android:name=".ParentZoneActivity"
            android:label="Parent Zone">
            
        </activity>
        
        <activity android:name=".CreateParentAccountActivity"
            android:label="Create Parent Account"/>
        
        <receiver android:name=".AlarmReceiver" android:enabled="true"/>
        <service android:name=".AlarmService"/>
    </application>

</manifest>
